body {
  background-color: rgb(243, 245, 245);
}

.checkout-container {
  width: 1024px;
  margin: auto;
}

.formulaire {
  margin: 20px;
  width: 660px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.formulaire input {
  outline: none;
}

label {
  padding-top: 15px;
  color: #00ccbc;
  font-weight: bold;
}

h2 {
  padding: 10px 0 0 10px;
}

h3 {
  padding-top: 10px;
  margin-left: 20px;
  text-align: center;
}

.confirm-button {
  border-radius: 5px;
  border: none;
  height: 50px;
  width: 150px;
  margin-left: 275px;
  align-content: space-around;
  background-color: #00ccbc;
  color: white;
  font-weight: bold;
  outline: none;
}

.confirm-button:hover {
  cursor: pointer;
}

.back-color {
  background-color: white;
}

.last-input {
  padding-bottom: 15px;
  border-bottom: solid 1px lightgray;
}
.half {
  width: calc(50% - 13px);
}

.all {
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0 10px 0px;
  height: 30px;
  text-indent: 10px;
  border: solid lightgray 2px;
  border-radius: 2px;
}

.form-and-checkout {
  display: flex;
  flex-direction: row;
}
