.cards-container {
  display: flex;
  flex-wrap: wrap;
}

h3 {
  display: flex;
  margin-top: 50px;
  padding-bottom: 15px;
  font-size: 30px;
}

@media (max-width: 1044px) {
  .cards-container {
    flex-direction: column;
    margin-left: 15px;
    width: 100%;
  }
}
