body {
  outline: none;
}
.description-container {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  padding: 20px 0;
  align-items: center;
}

.title-description {
  padding: 5px 20px 5px 0;
}

.description-text {
  color: grey;
  font-size: 13px;
  font-weight: bold;
  margin-left: 20px;
}

.image-container > img {
  width: 370px;
  height: 160px;
  object-fit: cover;
  border-radius: 4px;
}

@media (max-width: 1044px) {
  .description-container {
    flex-wrap: wrap;
    width: 90%;
  }

  .image-container {
    margin-left: 15px;
  }

  .image-container > img {
    width: 100%;
  }
}
